URxvt*scrollBar: false
URxvt*saveLines: 10000
URxvt*background: Black
URxvt*foreground: #aaaaaa
URxvt*letterSpace: -1

URxvt.transparent: true
URxvt.shading: 10

URxvt.font: xft:DejaVu Sans Mono:size=10
URxvt.boldFont: xft:DejaVu Sans Mono:size=10
